<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmls:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:fragment="navBar" class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="container" id="navbarNav">
    
        <a class="navbar-brand" href="http://localhost:8080/">Home</a>
      
        <a class="navbar-brand" href="http://localhost:8080/libro">Libros </a>
     
     
        <a class="navbar-brand" href="http://localhost:8080/autor">Autores</a>
     
    
        <a class="navbar-brand" href="http://localhost:8080/editorial">Editoriales</a>
        
        <a class="navbar-brand" href="http://localhost:8080/rol/crear">Crear Rol</a>
     
     
        <a sec:authorize="hasRole('ADMIN')" class="navbar-brand" href="http://localhost:8080/logout">Finalizar Sesión</a>
      
   
  </div>
</nav>
    </body>
</html>
